openapi: 3.0.3
info:
  title: Computer Agents Cloud API
  description: |
    The Computer Agents Cloud API provides a powerful platform for executing AI-powered computer agents in isolated cloud environments.

    ## Base URL

    All API requests should be made to:
    ```
    https://api.computer-agents.com
    ```

    ## Authentication

    All API endpoints (except `/health` and `/version`) require authentication via Bearer token:

    ```
    Authorization: Bearer tb_prod_xxx...
    ```

    API keys can be obtained through the admin dashboard or by contacting support.

    ## Key Concepts

    - **Projects**: Workspaces for organizing threads, agents, computers, and resources
    - **Computers**: Persistent execution workspaces with runtimes, packages, files, and container lifecycle
    - **Resources**: Deployable and managed app surfaces such as web apps, functions, auth modules, and agent runtimes
    - **Threads**: Conversation contexts for multi-turn agent interactions
    - **Agents**: Configurable AI agents with specific models and instructions

    ## Rate Limits

    - 1000 requests per 15 minutes per IP (global)
    - Budget-protected endpoints require positive balance

  version: 1.0.0
  contact:
    name: Computer Agents Support
    url: https://computer-agents.com
  license:
    name: MIT

servers:
  - url: https://api.computer-agents.com
    description: Production server

tags:
  - name: System
    description: Version and platform-level metadata endpoints
  - name: Health
    description: Health and monitoring endpoints
  - name: Projects
    description: Project management and workspace grouping
  - name: Tasks
    description: Task planning, board workflows, comments, sprints, releases, and task-to-thread execution
  - name: Computers
    description: Persistent computer workspaces, runtime configuration, and container lifecycle
  - name: Resources
    description: Deployable and managed service surfaces exposed under /v1/servers
  - name: Databases
    description: Managed structured data stores, collections, documents, and analytics
  - name: Files
    description: File and directory operations on computer and resource workspaces
  - name: Attachments
    description: Uploaded thread and workspace attachments stored in user computer workspaces
  - name: Skills
    description: Custom user-defined skills with markdown instructions, files, and icons
  - name: Threads
    description: Conversation threads and message execution
  - name: Agents
    description: Agent configuration and management
  - name: Orchestrations
    description: Multi-agent workflows with reusable orchestration graphs and orchestration runs
  - name: Schedules
    description: Time-based automations and recurring or one-time execution schedules
  - name: Triggers
    description: Event-driven automations, webhook triggers, and trigger execution history
  - name: Billing
    description: User budget, subscription, resource-billing preferences, and workspace inference settings
  - name: Costs
    description: Cost analytics and thread-level usage breakdowns derived from ACP execution data
  - name: Account
    description: Authenticated account identity and destructive account-data deletion
  - name: Notifications
    description: Push notification token registration and device-token management
  - name: Reports
    description: Content reporting and moderation-report submission history
  - name: Admin
    description: Administrative operations (requires admin key)

paths:
  # ============================================================================
  # Health & Monitoring
  # ============================================================================
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Get API health status and system diagnostics
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: API is unhealthy

  /version:
    get:
      tags: [System]
      summary: Get build version
      description: Return build, commit, and runtime metadata for the currently deployed API service.
      security: []
      responses:
        '200':
          description: Build and runtime version information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'

  /metrics:
    get:
      tags: [Health]
      summary: Get execution metrics
      description: Get detailed execution metrics and statistics
      responses:
        '200':
          description: Metrics summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsSummary'

  # ============================================================================
  # Projects
  # ============================================================================
  /projects:
    get:
      tags: [Projects]
      summary: List projects
      description: List all projects for the authenticated user
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [local, cloud, synced]
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  count:
                    type: integer

    post:
      tags: [Projects]
      summary: Create project
      description: Create a new project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                id:
                  type: string
                  description: Optional custom ID
                name:
                  type: string
                  description: Project name
                description:
                  type: string
                type:
                  type: string
                  enum: [local, cloud, synced]
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    $ref: '#/components/schemas/Project'

  /projects/{projectId}:
    get:
      tags: [Projects]
      summary: Get project
      description: Get project details and statistics
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    $ref: '#/components/schemas/Project'
                  stats:
                    type: object
                    properties:
                      fileCount:
                        type: integer
                      totalSize:
                        type: integer
                      totalSizeMB:
                        type: string
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Projects]
      summary: Update project
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Project updated

    delete:
      tags: [Projects]
      summary: Delete project
      parameters:
        - $ref: '#/components/parameters/projectId'
        - name: hard
          in: query
          schema:
            type: boolean
            default: false
          description: Permanently delete (hard delete)
      responses:
        '200':
          description: Project deleted

  /projects/{projectId}/schedules:
    get:
      tags: [Projects]
      summary: List project schedules
      description: List schedules attached to a project across its tickets, threads, and automations.
      parameters:
        - $ref: '#/components/parameters/projectId'
        - name: rangeStart
          in: query
          schema:
            type: string
            format: date-time
          description: Optional lower bound for schedule occurrence filtering.
        - name: rangeEnd
          in: query
          schema:
            type: string
            format: date-time
          description: Optional upper bound for schedule occurrence filtering.
      responses:
        '200':
          description: Project schedule list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # Local Bridge
  # ============================================================================
  /devices:
    get:
      tags: [Local Bridge]
      summary: List registered devices
      description: List local devices registered for the authenticated user. This surface is feature-flagged and may be unavailable unless local bridge or sync is enabled.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [online, offline]
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Device list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'

    post:
      tags: [Local Bridge]
      summary: Register device
      description: Register a local device for future local execution or workspace sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCreate'
      responses:
        '201':
          description: Device created
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'

  /devices/{deviceId}:
    get:
      tags: [Local Bridge]
      summary: Get device
      parameters:
        - $ref: '#/components/parameters/deviceIdPath'
      responses:
        '200':
          description: Device details
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Local Bridge]
      summary: Update device
      parameters:
        - $ref: '#/components/parameters/deviceIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
      responses:
        '200':
          description: Device updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Local Bridge]
      summary: Delete device
      parameters:
        - $ref: '#/components/parameters/deviceIdPath'
      responses:
        '204':
          description: Device deleted

  /devices/{deviceId}/heartbeat:
    post:
      tags: [Local Bridge]
      summary: Heartbeat device
      description: Update a registered device's liveness, version metadata, and capabilities.
      parameters:
        - $ref: '#/components/parameters/deviceIdPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appVersion:
                  type: string
                  nullable: true
                daemonVersion:
                  type: string
                  nullable: true
                capabilities:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '200':
          description: Device heartbeat accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'

  /workspace-bindings:
    get:
      tags: [Local Bridge]
      summary: List workspace bindings
      description: List local folder to environment bindings for the authenticated user.
      parameters:
        - name: deviceId
          in: query
          schema:
            type: string
        - name: environmentId
          in: query
          schema:
            type: string
        - name: projectId
          in: query
          schema:
            type: string
            nullable: true
          description: Filter to a specific project. Use `none` for bindings without a project.
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Workspace binding list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBindingListResponse'

    post:
      tags: [Local Bridge]
      summary: Create workspace binding
      description: Bind a local folder on a registered device to an ACP environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBindingCreate'
      responses:
        '201':
          description: Workspace binding created
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding:
                    $ref: '#/components/schemas/WorkspaceBinding'

  /workspace-bindings/{bindingId}:
    get:
      tags: [Local Bridge]
      summary: Get workspace binding
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      responses:
        '200':
          description: Workspace binding details
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding:
                    $ref: '#/components/schemas/WorkspaceBinding'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Local Bridge]
      summary: Update workspace binding
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBindingUpdate'
      responses:
        '200':
          description: Workspace binding updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding:
                    $ref: '#/components/schemas/WorkspaceBinding'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Local Bridge]
      summary: Delete workspace binding
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      responses:
        '204':
          description: Workspace binding deleted

  /workspace-bindings/{bindingId}/push-sessions:
    get:
      tags: [Local Bridge]
      summary: List workspace push sessions
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      responses:
        '200':
          description: Workspace push session list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePushSessionListResponse'

    post:
      tags: [Local Bridge]
      summary: Prepare workspace push session
      description: Persist a prepared local push intent for a binding without transferring files yet.
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePushSessionCreate'
      responses:
        '200':
          description: Existing prepared workspace push session reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePushSessionPrepareResponse'
        '201':
          description: Workspace push session prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePushSessionPrepareResponse'

  /workspace-bindings/{bindingId}/push-sessions/{pushSessionId}:
    get:
      tags: [Local Bridge]
      summary: Get workspace push session
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
        - $ref: '#/components/parameters/pushSessionIdPath'
      responses:
        '200':
          description: Workspace push session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePushSessionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /workspace-bindings/{bindingId}/pull-sessions:
    get:
      tags: [Local Bridge]
      summary: List workspace pull sessions
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      responses:
        '200':
          description: Workspace pull session list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullSessionListResponse'

    post:
      tags: [Local Bridge]
      summary: Prepare workspace pull session
      description: Persist a prepared remote-to-local pull preview for a binding without changing local files yet.
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePullSessionCreate'
      responses:
        '200':
          description: Existing prepared workspace pull session reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullSessionPrepareResponse'
        '201':
          description: Workspace pull session prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullSessionPrepareResponse'

  /workspace-bindings/{bindingId}/pull-sessions/{pullSessionId}:
    get:
      tags: [Local Bridge]
      summary: Get workspace pull session
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
        - $ref: '#/components/parameters/pullSessionIdPath'
      responses:
        '200':
          description: Workspace pull session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullSessionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /workspace-bindings/{bindingId}/pull-sessions/{pullSessionId}/apply-preview:
    post:
      tags: [Local Bridge]
      summary: Attach workspace pull apply preview
      description: Persist a content-aware local apply preview on a prepared pull session without changing any local files.
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
        - $ref: '#/components/parameters/pullSessionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePullApplyPreviewCreate'
      responses:
        '200':
          description: Workspace pull apply preview attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullApplyPreviewResponse'

  /workspace-bindings/{bindingId}/pull-sessions/{pullSessionId}/apply-result:
    post:
      tags: [Local Bridge]
      summary: Attach workspace pull apply result
      description: Persist the result of a guarded local apply for a prepared pull session.
      parameters:
        - $ref: '#/components/parameters/bindingIdPath'
        - $ref: '#/components/parameters/pullSessionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePullApplyResultCreate'
      responses:
        '200':
          description: Workspace pull apply result attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePullApplyResultResponse'

  # ============================================================================
  # Tasks
  # ============================================================================
  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      description: List tasks across projects with optional filtering by project, sprint, release, status, assignee, and text query.
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
            nullable: true
          description: Filter to a specific project. Use `none` for unscoped tasks.
        - name: releaseId
          in: query
          schema:
            type: string
            nullable: true
          description: Filter to a specific release. Use `none` for tasks without a release.
        - name: status
          in: query
          schema:
            type: string
            enum: [backlog, todo, in_progress, blocked, done]
        - name: sprintId
          in: query
          schema:
            type: string
            nullable: true
          description: Filter to a specific sprint. Use `none` for tasks without a sprint.
        - name: assigneeAgentId
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
          description: Case-insensitive search over title and description.
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Task list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'

    post:
      tags: [Tasks]
      summary: Create task
      description: Create a task that can later be assigned to an agent, grouped into a sprint or release, and started as a thread.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/Task'

  /tasks/workspace:
    get:
      tags: [Tasks]
      summary: Get task workspace
      description: Build a board-ready task workspace payload with stats, grouped lanes, calendar items, releases, sprints, and task details.
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
            nullable: true
          description: Restrict the workspace to one project. Use `none` for tasks without a project.
        - name: q
          in: query
          schema:
            type: string
          description: Search query applied across tasks, sprints, and releases.
        - name: rangeStart
          in: query
          schema:
            type: string
            format: date-time
        - name: rangeEnd
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Task workspace payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWorkspaceResponse'

  /tasks/sprints:
    get:
      tags: [Tasks]
      summary: List sprints
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
            nullable: true
          description: Filter to a specific project. Use `none` for unscoped sprints.
        - name: status
          in: query
          schema:
            type: string
            enum: [planned, active, completed]
        - name: q
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Sprint list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSprintListResponse'

    post:
      tags: [Tasks]
      summary: Create sprint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSprintCreate'
      responses:
        '201':
          description: Sprint created
          content:
            application/json:
              schema:
                type: object
                properties:
                  sprint:
                    $ref: '#/components/schemas/TaskSprint'

  /tasks/sprints/{sprintId}:
    get:
      tags: [Tasks]
      summary: Get sprint
      parameters:
        - $ref: '#/components/parameters/sprintIdPath'
      responses:
        '200':
          description: Sprint with tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSprintResponse'

    patch:
      tags: [Tasks]
      summary: Update sprint
      parameters:
        - $ref: '#/components/parameters/sprintIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSprintUpdate'
      responses:
        '200':
          description: Sprint updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  sprint:
                    $ref: '#/components/schemas/TaskSprint'

    delete:
      tags: [Tasks]
      summary: Delete sprint
      parameters:
        - $ref: '#/components/parameters/sprintIdPath'
      responses:
        '200':
          description: Sprint deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'

  /tasks/releases:
    get:
      tags: [Tasks]
      summary: List releases
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Release list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskReleaseListResponse'

    post:
      tags: [Tasks]
      summary: Create release
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskReleaseCreate'
      responses:
        '201':
          description: Release created
          content:
            application/json:
              schema:
                type: object
                properties:
                  release:
                    $ref: '#/components/schemas/TaskRelease'

  /tasks/releases/{releaseId}:
    get:
      tags: [Tasks]
      summary: Get release
      parameters:
        - $ref: '#/components/parameters/releaseIdPath'
      responses:
        '200':
          description: Release with tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskReleaseResponse'

    patch:
      tags: [Tasks]
      summary: Update release
      parameters:
        - $ref: '#/components/parameters/releaseIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskReleaseUpdate'
      responses:
        '200':
          description: Release updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  release:
                    $ref: '#/components/schemas/TaskRelease'

    delete:
      tags: [Tasks]
      summary: Delete release
      parameters:
        - $ref: '#/components/parameters/releaseIdPath'
      responses:
        '200':
          description: Release deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'

  /tasks/{taskId}:
    get:
      tags: [Tasks]
      summary: Get task
      description: Get a task together with resolved project, sprint, release, assignee, dependencies, dependents, linked threads, and comments.
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
      responses:
        '200':
          description: Task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetailResponse'

    patch:
      tags: [Tasks]
      summary: Update task
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: Task updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/Task'

    delete:
      tags: [Tasks]
      summary: Delete task
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
      responses:
        '200':
          description: Task deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'

  /tasks/{taskId}/comments:
    get:
      tags: [Tasks]
      summary: List task comments
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
        - name: authorType
          in: query
          schema:
            type: string
            enum: [user, agent, system]
        - name: authorAgentId
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Task comment list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentListResponse'

    post:
      tags: [Tasks]
      summary: Create task comment
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCommentCreate'
      responses:
        '201':
          description: Task comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    $ref: '#/components/schemas/TaskComment'

  /tasks/{taskId}/start-thread:
    post:
      tags: [Tasks]
      summary: Start task thread
      description: Create the first thread for a task, link it back to the task, and optionally move the task into `in_progress`.
      parameters:
        - $ref: '#/components/parameters/taskIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStartThreadRequest'
      responses:
        '201':
          description: Task thread created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStartThreadResponse'
        '409':
          description: Task is blocked by dependencies or already started

  # ============================================================================
  # Computers
  # ============================================================================
  /environments:
    get:
      tags: [Computers]
      summary: List computers
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
          description: Filter computers to a specific project
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'

    post:
      tags: [Computers]
      summary: Create computer
      description: Create a persistent computer workspace with named compute profiles, runtimes, packages, and MCP servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreate'
            example:
              projectId: proj_crm
              name: CRM Builder Workspace
              description: Persistent workspace for building and iterating on the CRM app.
              internetAccess: true
              computeProfile: power
              runtimes:
                node: '22'
                python: '3.12'
              packages:
                system: [git, ffmpeg]
                node: [next, lucide-react]
                python: [fastapi]
              mcpServers:
                - name: Linear
                  type: http
                  url: https://mcp.example.com/linear
                  enabled: true
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

  /environments/default:
    get:
      tags: [Computers]
      summary: Get default computer
      responses:
        '200':
          description: Default environment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

  /environments/runtimes/available:
    get:
      tags: [Computers]
      summary: List available runtimes
      responses:
        '200':
          description: Available runtime matrix
          content:
            application/json:
              schema:
                type: object
                properties:
                  runtimes:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string

  /environments/{environmentId}:
    get:
      tags: [Computers]
      summary: Get computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

    patch:
      tags: [Computers]
      summary: Patch computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentUpdate'
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

    put:
      tags: [Computers]
      summary: Update computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreate'
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

    delete:
      tags: [Computers]
      summary: Delete computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: hard
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Environment deleted

  /environments/{environmentId}/snapshots/initialize:
    post:
      tags: [Computers]
      summary: Initialize computer snapshots
      description: Explicitly initialize canonical snapshot history for a computer.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '201':
          description: Snapshot history initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotInitializeResponse'

  /environments/{environmentId}/snapshots:
    get:
      tags: [Computers]
      summary: List computer snapshots
      description: List canonical snapshots captured for a computer workspace.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Snapshot list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotListResponse'

  /environments/{environmentId}/changes:
    get:
      tags: [Computers]
      summary: List computer changes
      description: |
        List file-level change events captured for a computer workspace over time.

        This is the canonical state-history feed for one computer. Each entry represents one
        concrete file operation and includes project, thread, step, and agent context when ACP
        can resolve it.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: projectId
          in: query
          schema:
            type: string
          description: Filter changes to one specific project-scoped activity stream
        - name: agentId
          in: query
          schema:
            type: string
          description: Filter changes to one specific agent
        - name: operation
          in: query
          schema:
            type: string
            enum: [created, uploaded, modified, deleted]
          description: Filter changes by file operation
      responses:
        '200':
          description: Environment change list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentChangeListResponse'

  /environments/{environmentId}/changes/{changeId}/diff:
    get:
      tags: [Computers]
      summary: Get computer change diff
      description: Read the diff associated with one concrete historical computer change.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: changeId
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: query
          schema:
            type: string
          description: Optional file path to scope the diff
      responses:
        '200':
          description: Change diff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotDiffResponse'

  /environments/{environmentId}/changes/{changeId}/file:
    get:
      tags: [Computers]
      summary: Get computer change file
      description: |
        Read one file from a historical computer change.

        Use the default JSON response for text payloads. Set `format=raw` when you want the raw
        historical bytes for previews or binary assets.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: changeId
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: query
          required: true
          schema:
            type: string
          description: File path within the change
        - name: format
          in: query
          schema:
            type: string
            enum: [raw]
          description: Return the raw historical file bytes instead of a JSON content payload
      responses:
        '200':
          description: Change file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotFileResponse'
            application/octet-stream:
              schema:
                type: string
                format: binary

  /environments/{environmentId}/changes/{changeId}/fork:
    post:
      tags: [Computers]
      summary: Fork computer from change
      description: Materialize a new computer from a historical file-change anchor.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: changeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentForkFromSnapshotRequest'
      responses:
        '201':
          description: Computer fork created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentForkFromSnapshotResponse'

  /environments/{environmentId}/snapshots/{snapshotId}/files:
    get:
      tags: [Computers]
      summary: List computer snapshot files
      description: List files and directories from a historical computer snapshot.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - $ref: '#/components/parameters/snapshotIdPath'
        - name: prefix
          in: query
          schema:
            type: string
          description: Optional path prefix within the snapshot
      responses:
        '200':
          description: Snapshot files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotFilesResponse'

  /environments/{environmentId}/snapshots/{snapshotId}/diff:
    get:
      tags: [Computers]
      summary: Get computer snapshot diff
      description: Read the canonical diff introduced by a snapshot.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - $ref: '#/components/parameters/snapshotIdPath'
        - name: path
          in: query
          schema:
            type: string
          description: Optional file path to scope the diff
      responses:
        '200':
          description: Snapshot diff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotDiffResponse'

  /environments/{environmentId}/snapshots/{snapshotId}/file:
    get:
      tags: [Computers]
      summary: Get computer snapshot file
      description: |
        Read one file from a historical computer snapshot.

        Use the default JSON response for text payloads. Set `format=raw` when you want the raw
        historical bytes for previews or binary assets.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - $ref: '#/components/parameters/snapshotIdPath'
        - name: path
          in: query
          required: true
          schema:
            type: string
          description: File path within the snapshot
        - name: format
          in: query
          schema:
            type: string
            enum: [raw]
          description: Return the raw historical file bytes instead of a JSON content payload
      responses:
        '200':
          description: Snapshot file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSnapshotFileResponse'
            application/octet-stream:
              schema:
                type: string
                format: binary

  /environments/{environmentId}/snapshots/{snapshotId}/fork:
    post:
      tags: [Computers]
      summary: Fork computer from snapshot
      description: Materialize a new computer from a historical snapshot.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - $ref: '#/components/parameters/snapshotIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentForkFromSnapshotRequest'
      responses:
        '201':
          description: Computer fork created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentForkFromSnapshotResponse'

  /environments/{environmentId}/build:
    post:
      tags: [Computers]
      summary: Build computer image
      description: Build the Docker image for a computer workspace
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Force rebuild even if cached
      responses:
        '200':
          description: Image built
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  imageTag:
                    type: string
                  environmentId:
                    type: string

  /environments/{environmentId}/start:
    post:
      tags: [Computers]
      summary: Start computer
      description: Start a long-running container for the computer workspace
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cpus:
                  type: number
                  default: 1
                memory:
                  type: string
                  default: "2g"
      responses:
        '200':
          description: Container started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  containerName:
                    type: string
                  containerId:
                    type: string

  /environments/{environmentId}/stop:
    post:
      tags: [Computers]
      summary: Stop computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                containerId:
                  type: string
                all:
                  type: boolean
      responses:
        '200':
          description: Container(s) stopped

  /environments/{environmentId}/status:
    get:
      tags: [Computers]
      summary: Get computer status
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Container status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRuntimeStatusResponse'

  /environments/{environmentId}/set-default:
    post:
      tags: [Computers]
      summary: Set default computer
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Default computer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

  /environments/{environmentId}/dockerfile:
    get:
      tags: [Computers]
      summary: Get effective Dockerfile
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Effective Dockerfile and base image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentDockerfileResponse'

    put:
      tags: [Computers]
      summary: Update Dockerfile extensions
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentDockerfileUpdate'
      responses:
        '200':
          description: Computer Dockerfile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

  /environments/{environmentId}/dockerfile/validate:
    post:
      tags: [Computers]
      summary: Validate Dockerfile
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Dockerfile validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockerfileValidationResponse'

  /environments/{environmentId}/packages:
    get:
      tags: [Computers]
      summary: List installed packages
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Installed package sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentPackagesResponse'

    post:
      tags: [Computers]
      summary: Install packages
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentPackagesInstallRequest'
      responses:
        '200':
          description: Packages installed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentPackagesMutationResponse'

  /environments/{environmentId}/packages/{packageType}/{packageName}:
    delete:
      tags: [Computers]
      summary: Uninstall package
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: packageType
          in: path
          required: true
          schema:
            type: string
            enum: [system, python, node]
        - name: packageName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Package uninstalled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentPackagesMutationResponse'

  /environments/{environmentId}/runtimes:
    get:
      tags: [Computers]
      summary: Get runtime versions
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Current runtime versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRuntimesResponse'

    put:
      tags: [Computers]
      summary: Update runtime versions
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [runtimes]
              properties:
                runtimes:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Runtime versions updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'

  /environments/{environmentId}/build/status:
    get:
      tags: [Computers]
      summary: Get build status
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Image build status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentBuildStatusResponse'

  /environments/{environmentId}/build/logs:
    get:
      tags: [Computers]
      summary: Get build logs
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Image build logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentBuildLogsResponse'

  /environments/{environmentId}/build/test:
    post:
      tags: [Computers]
      summary: Test build
      description: Validate and test-build the current computer image configuration.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Build test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentBuildTestResponse'

  /environments/{environmentId}/analytics:
    get:
      tags: [Computers]
      summary: Get computer analytics
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Computer analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAnalyticsResponse'

  /environments/{environmentId}/gui/screenshot:
    get:
      tags: [Computers]
      summary: Capture desktop screenshot
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: PNG screenshot
          content:
            image/png:
              schema:
                type: string
                format: binary

  /environments/{environmentId}/gui/session:
    post:
      tags: [Computers]
      summary: Create desktop session token
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Desktop session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGuiSessionResponse'

  /environments/{environmentId}/gui/action:
    post:
      tags: [Computers]
      summary: Send desktop action
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGuiActionRequest'
      responses:
        '200':
          description: Desktop action executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGuiActionResponse'

  /environments/{environmentId}/secrets:
    get:
      tags: [Computers]
      summary: List secret keys
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      responses:
        '200':
          description: Secret keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSecretListResponse'

    post:
      tags: [Computers]
      summary: Create secret
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentSecretWriteRequest'
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSecretMutationResponse'

  /environments/{environmentId}/secrets/{secretKey}:
    put:
      tags: [Computers]
      summary: Update secret
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: secretKey
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Secret updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSecretMutationResponse'

    delete:
      tags: [Computers]
      summary: Delete secret
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: secretKey
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Secret deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSecretMutationResponse'

  /environments/{environmentId}/git/status:
    get:
      tags: [Computers]
      summary: Get computer Git status
      description: Inspect Git status for the workspace or a repository inside the running computer.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: path
          in: query
          schema:
            type: string
          description: Optional repository path inside the workspace
      responses:
        '200':
          description: Git status result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitStatusResponse'

  /environments/{environmentId}/git/commit:
    post:
      tags: [Computers]
      summary: Commit staged changes
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitCommitRequest'
      responses:
        '200':
          description: Commit created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

  /environments/{environmentId}/git/stage:
    post:
      tags: [Computers]
      summary: Stage files
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitFileSelectionRequest'
      responses:
        '200':
          description: Files staged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

  /environments/{environmentId}/git/unstage:
    post:
      tags: [Computers]
      summary: Unstage files
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitFileSelectionRequest'
      responses:
        '200':
          description: Files unstaged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

  /environments/{environmentId}/git/push:
    post:
      tags: [Computers]
      summary: Push repository branch
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitPushRequest'
      responses:
        '200':
          description: Branch pushed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

  /environments/{environmentId}/git/branch:
    post:
      tags: [Computers]
      summary: Create branch
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitBranchCreateRequest'
      responses:
        '200':
          description: Branch created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

    put:
      tags: [Computers]
      summary: Switch branch
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitBranchSwitchRequest'
      responses:
        '200':
          description: Branch switched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitMutationResponse'

  /environments/{environmentId}/git/branches:
    get:
      tags: [Computers]
      summary: List branches
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: path
          in: query
          schema:
            type: string
          description: Optional repository path inside the workspace
      responses:
        '200':
          description: Branch list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitBranchesResponse'

  /environments/{environmentId}/git/commits:
    get:
      tags: [Computers]
      summary: List commit history
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
        - name: path
          in: query
          schema:
            type: string
          description: Optional repository path inside the workspace
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Commit history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitCommitListResponse'

  /environments/{environmentId}/github/prepare:
    post:
      tags: [Computers]
      summary: Prepare GitHub repository
      description: Clone and configure a GitHub repository inside the running computer using the connected GitHub account.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGithubPrepareRequest'
      responses:
        '200':
          description: GitHub repository prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGithubPrepareResponse'

  /environments/{environmentId}/git/clone:
    post:
      tags: [Computers]
      summary: Clone repository
      description: Clone a Git repository into the computer workspace.
      parameters:
        - $ref: '#/components/parameters/environmentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentGitCloneRequest'
      responses:
        '200':
          description: Repository cloned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitCloneResponse'

  # ============================================================================
  # Resources
  # ============================================================================
  /servers:
    get:
      tags: [Resources]
      summary: List resources
      description: List deployable and managed resources such as web apps, functions, auth modules, and agent runtimes.
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
          description: Filter resources to a specific project
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Resource list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'

    post:
      tags: [Resources]
      summary: Create resource
      description: Create a managed resource such as a web app, function, auth module, or agent runtime.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCreate'
            example:
              projectId: proj_crm
              name: CRM Web App
              description: Public frontend for the CRM dashboard.
              kind: web_app
              sourceType: environment
              sourceEnvironmentId: env_crm
              sourcePath: apps/web
              region: europe-west1
              runtime: nodejs22
              authMode: public
              metadata:
                framework: nextjs
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    $ref: '#/components/schemas/Resource'

  /servers/templates/ai-chat-app:
    post:
      tags: [Resources]
      summary: Create AI chat app template
      description: Provision an AI chat app stack including web app, auth, database, and agent runtime resources.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiChatAppTemplateCreate'
      responses:
        '201':
          description: Template stack created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiChatAppTemplateResponse'

  /servers/{serverId}:
    get:
      tags: [Resources]
      summary: Get resource
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    $ref: '#/components/schemas/Resource'

    patch:
      tags: [Resources]
      summary: Update resource
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceUpdate'
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    $ref: '#/components/schemas/Resource'

    delete:
      tags: [Resources]
      summary: Delete resource
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean

  /servers/{serverId}/deploy:
    post:
      tags: [Resources]
      summary: Deploy resource
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource deployed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDeploymentResponse'

  /servers/{serverId}/invoke:
    post:
      tags: [Resources]
      summary: Invoke resource
      description: Invoke a deployed function or HTTP resource by forwarding an HTTP request to its service URL.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInvokeRequest'
      responses:
        '200':
          description: Invocation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInvokeResponse'

  /servers/{serverId}/analytics:
    get:
      tags: [Resources]
      summary: Get resource analytics
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAnalyticsResponse'

  /servers/{serverId}/logs:
    get:
      tags: [Resources]
      summary: Get resource logs
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - name: kind
          in: query
          schema:
            type: string
            enum: [request, runtime, deployment]
            default: request
        - name: limit
          in: query
          schema:
            type: integer
            default: 80
      responses:
        '200':
          description: Resource logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLogsResponse'

  /servers/{serverId}/bindings:
    get:
      tags: [Resources]
      summary: List resource bindings
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource bindings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBindingsResponse'

  /servers/{serverId}/bindings/{targetType}:
    put:
      tags: [Resources]
      summary: Upsert resource binding
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/bindingTargetType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceBindingUpsert'
      responses:
        '200':
          description: Binding updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBindingMutationResponse'

    delete:
      tags: [Resources]
      summary: Delete resource binding
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/bindingTargetType'
      responses:
        '200':
          description: Binding deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverId:
                    type: string
                  targetType:
                    type: string
                    enum: [database, auth, agent_runtime]
                  deleted:
                    type: boolean
                  bindings:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceBinding'

  /servers/{serverId}/auth-users:
    get:
      tags: [Resources]
      summary: List auth users
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 200
        - name: nextPageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Auth user list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUsersListResponse'

    post:
      tags: [Resources]
      summary: Create auth user
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthUserCreate'
      responses:
        '201':
          description: Auth user created
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverId:
                    type: string
                  user:
                    $ref: '#/components/schemas/AuthModuleUser'

  /servers/{serverId}/auth/sign-up:
    post:
      tags: [Resources]
      summary: Sign up auth user
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthUserCreate'
      responses:
        '201':
          description: Auth sign-up result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthModuleSessionResponse'

  /servers/{serverId}/auth/sign-in:
    post:
      tags: [Resources]
      summary: Sign in auth user
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignInRequest'
      responses:
        '200':
          description: Auth sign-in result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthModuleSessionResponse'

  /servers/{serverId}/auth/me:
    get:
      tags: [Resources]
      summary: Get auth session user
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Auth session user
          content:
            application/json:
              schema:
                type: object
                properties:
                  authModuleId:
                    type: string
                  projectId:
                    type: string
                    nullable: true
                  user:
                    $ref: '#/components/schemas/AuthModuleUser'

  /servers/{serverId}/runs:
    get:
      tags: [Resources]
      summary: List agent runtime runs
      description: List thread-backed runs exposed by an agent runtime resource.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Agent runtime run list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunListResponse'

    post:
      tags: [Resources]
      summary: Start agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRunCreate'
      responses:
        '201':
          description: Agent runtime run started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'
        '202':
          description: Agent runtime run accepted for background execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'

  /servers/{serverId}/runs/{resourceRunId}:
    get:
      tags: [Resources]
      summary: Get agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Agent runtime run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'

  /servers/{serverId}/runs/{resourceRunId}/input:
    post:
      tags: [Resources]
      summary: Continue agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRunInput'
      responses:
        '200':
          description: Agent runtime run continued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'
        '202':
          description: Agent runtime input accepted for background execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'

  /servers/{serverId}/runs/{resourceRunId}/events:
    get:
      tags: [Resources]
      summary: Get agent runtime run events
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Agent runtime run with events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRunPayload'

  /servers/{serverId}/runs/{resourceRunId}/cancel:
    post:
      tags: [Resources]
      summary: Cancel agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Agent runtime run cancelled
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResourceRunPayload'
                  - type: object
                    properties:
                      success:
                        type: boolean

  /servers/{serverId}/context:
    get:
      tags: [Resources]
      summary: Get resource runtime context
      description: Return the resource, its bindings, runtime manifest, and deployment diagnostics.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource runtime context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceContextResponse'

  /servers/{serverId}/runtime-config:
    get:
      tags: [Resources]
      summary: Get resource runtime config
      description: Return the generated runtime config used by the resource SDKs and bound services.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource runtime config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeConfigResponse'

  /servers/{serverId}/runtime-sdk/{target}:
    get:
      tags: [Resources]
      summary: Get generated resource runtime SDK
      description: Return the generated browser or server SDK module for this resource runtime.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - name: target
          in: path
          required: true
          schema:
            type: string
            enum: [browser, server]
      responses:
        '200':
          description: Generated runtime SDK module
          content:
            application/javascript:
              schema:
                type: string

  /servers/{serverId}/runtime:
    get:
      tags: [Resources]
      summary: Get runtime config with runtime auth
      description: Resolve the generated runtime config through the runtime authorization flow.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Resource runtime config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeConfigResponse'

  /servers/{serverId}/runtime/agent/runs:
    get:
      tags: [Resources]
      summary: List connected agent runtime runs
      description: List runs from the agent runtime bound to this resource using runtime authorization.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Connected runtime run list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunListResponse'

    post:
      tags: [Resources]
      summary: Start connected agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRunCreate'
      responses:
        '201':
          description: Connected runtime run started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'
        '202':
          description: Connected runtime run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'

  /servers/{serverId}/runtime/agent/runs/{resourceRunId}:
    get:
      tags: [Resources]
      summary: Get connected agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Connected runtime run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'

  /servers/{serverId}/runtime/agent/runs/{resourceRunId}/input:
    post:
      tags: [Resources]
      summary: Continue connected agent runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRunInput'
      responses:
        '200':
          description: Connected runtime run continued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'
        '202':
          description: Connected runtime input accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'

  /servers/{serverId}/runtime/agent/runs/{resourceRunId}/events:
    get:
      tags: [Resources]
      summary: Get connected runtime run events
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Connected runtime run with events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedResourceRunPayload'

  /servers/{serverId}/runtime/agent/runs/{resourceRunId}/cancel:
    post:
      tags: [Resources]
      summary: Cancel connected runtime run
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/resourceRunId'
      responses:
        '200':
          description: Connected runtime run cancelled
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ConnectedResourceRunPayload'
                  - type: object
                    properties:
                      success:
                        type: boolean

  /servers/{serverId}/runtime/database/collections:
    get:
      tags: [Resources]
      summary: List runtime database collections
      description: List collections from the database bound to this resource using runtime authorization.
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      responses:
        '200':
          description: Runtime database collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseCollectionsResponse'

    post:
      tags: [Resources]
      summary: Create runtime database collection
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRuntimeDatabaseCollectionCreate'
      responses:
        '201':
          description: Runtime database collection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseCollectionResponse'

  /servers/{serverId}/runtime/database/collections/{collectionId}/documents:
    get:
      tags: [Resources]
      summary: List runtime database documents
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
      responses:
        '200':
          description: Runtime database documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentsResponse'

    post:
      tags: [Resources]
      summary: Create runtime database document
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentCreate'
      responses:
        '201':
          description: Runtime database document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentResponse'

  /servers/{serverId}/runtime/database/collections/{collectionId}/documents/{documentId}:
    get:
      tags: [Resources]
      summary: Get runtime database document
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
        - $ref: '#/components/parameters/documentIdPath'
      responses:
        '200':
          description: Runtime database document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentResponse'

    put:
      tags: [Resources]
      summary: Upsert runtime database document
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
        - $ref: '#/components/parameters/documentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentUpdate'
      responses:
        '200':
          description: Runtime database document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentResponse'
        '201':
          description: Runtime database document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDocumentResponse'

    delete:
      tags: [Resources]
      summary: Delete runtime database document
      parameters:
        - $ref: '#/components/parameters/serverIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
        - $ref: '#/components/parameters/documentIdPath'
      responses:
        '200':
          description: Runtime database document deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRuntimeDatabaseDeleteResponse'

  # ============================================================================
  # Databases
  # ============================================================================
  /databases:
    get:
      tags: [Databases]
      summary: List databases
      description: List managed databases for the authenticated user, optionally scoped to a project.
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
          description: Filter databases to a specific project
      responses:
        '200':
          description: Database list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResponse'

    post:
      tags: [Databases]
      summary: Create database
      description: Create a managed Firestore-backed database surface.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCreate'
            example:
              projectId: proj_crm
              name: CRM Data
              description: Leads, pipeline, and activity data for the CRM demo.
              location: eur3
              metadata:
                environment: demo
      responses:
        '201':
          description: Database created
          content:
            application/json:
              schema:
                type: object
                properties:
                  database:
                    $ref: '#/components/schemas/Database'

  /databases/{databaseId}:
    get:
      tags: [Databases]
      summary: Get database
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      responses:
        '200':
          description: Database details
          content:
            application/json:
              schema:
                type: object
                properties:
                  database:
                    $ref: '#/components/schemas/Database'

    patch:
      tags: [Databases]
      summary: Update database
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
      responses:
        '200':
          description: Database updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  database:
                    $ref: '#/components/schemas/Database'

    delete:
      tags: [Databases]
      summary: Delete database
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      responses:
        '200':
          description: Database deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /databases/{databaseId}/analytics:
    get:
      tags: [Databases]
      summary: Get database analytics
      description: Retrieve database usage and volume analytics for the last 24 hours.
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      responses:
        '200':
          description: Database analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAnalyticsResponse'

  /databases/{databaseId}/collections:
    get:
      tags: [Databases]
      summary: List database collections
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      responses:
        '200':
          description: Database collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseCollectionsResponse'

    post:
      tags: [Databases]
      summary: Create database collection
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCollectionCreate'
      responses:
        '201':
          description: Collection created
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    $ref: '#/components/schemas/DatabaseCollection'

  /databases/{databaseId}/collections/{collectionId}:
    delete:
      tags: [Databases]
      summary: Delete database collection
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
      responses:
        '200':
          description: Collection deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /databases/{databaseId}/collections/{collectionId}/documents:
    get:
      tags: [Databases]
      summary: List database documents
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
          description: Maximum number of documents to return
      responses:
        '200':
          description: Database documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDocumentsResponse'

    post:
      tags: [Databases]
      summary: Create database document
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseDocumentCreate'
      responses:
        '201':
          description: Document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDocumentResponse'

  /databases/{databaseId}/collections/{collectionId}/documents/{documentId}:
    get:
      tags: [Databases]
      summary: Get database document
      parameters:
        - $ref: '#/components/parameters/databaseIdPath'
        - $ref: '#/components/parameters/collectionIdPath'
        - $ref: '#/components/parameters/documentIdPath'
      responses:
        '200':
          description: Database document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseDocumentResponse'

    put:
      tags: [Databases]
      summary: Update database document
      parameters:
[...]
